# Railsの環境変数
APP_HOST=
MAILER_SENDER=
RESEND_API_KEY=

GEOAPIFY_API_KEY=

CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=

CLARITY_ID=
SENTRY_DSN=

STYLE_URL=

OLD_HOST=
WEB_CONCURRENCY=
RAILS_MAX_THREADS=

R2_ENDPOINT=

R2_PUBLIC_ACCESS_KEY_ID=
R2_PUBLIC_SECRET_ACCESS_KEY=
R2_PUBLIC_BUCKET=
R2_PUBLIC_ASSETS_HOST=
CLOUDFLARE_CACHE_PURGE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

WORKER_SHARED_SECRET=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_KV_NAMESPACE_ID=
CLOUDFLARE_KV_API_TOKEN=

MEDIA_BASE_URL=
MEDIA_ORIGIN_HOST=
GOOD_JOB_QUEUES=

CONTACT_TO_EMAIL=

# Cloudflare Workersの環境変数
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
APP_ORIGIN=
MEDIA_ORIGIN_HOST=

# RailsとCloudflare Workersで同じ値を設定
MEDIA_JWT_SECRET=

# 本番環境ではSupabase PostgreSQLの接続URLを設定
DATABASE_URL=

# 本番環境ではAction Cable/cache/Rack::Attack用のRedis URLを設定
REDIS_URL=
